### Keil ###
# something maybe need to add
# *.bat  # generate batch file
# output/project_name # uv project generate without file ext
# *.SRC # generate source file
# *.src

# Log
*.log
*.log.*
JLinkLog.txt

# Prerequisites
*.d
*.dep

# Object and HEX files
*.o
*.obj
*.OBJ
*.axf
*.b[0-3][0-9]
*.hex
*.d
*.crf
*.elf
*.hex
*.h86
*.lib

# Listing Files
*.htm
*.COD
*.cod
*.[Ii]
*.LST
*.lst
*.MAP
*.map
*.[Mm]51
*.[Mm]66
*.SCR
*.scr

# LINK output
*.ABS

# Libraries
*.lib
*.LIB

# uv output
*.lnp
*.build_log.htm
*.HEX
*.hex

# Build Files
*._IA
*.__[Ii]
*._[Ii][Ii]

# Project files
*.uvgui.*
*.uvguix.*
*.scvd
*.dbgconf

# Generated output files
/Listings/*
/Objects/*
/Build/*

# Debugger files
# define exception below if needed
*.ini

# Other files
*.build_log.htm
*.cdb
*.dep
*.ic
*.lin
*.lnp
*.orc
# define exception below if needed
*.pack
# define exception below if needed
*.pdsc
*.plg
# define exception below if needed
*.sct
*.sfd
*.sfr


# Miscellaneous
*.tra
*.bin
*.fed
*.l1p
*.l2p
*.iex